[Unit]
Description=Load Iptables Rules
ConditionFileIsExecutable=/etc/systemd/scripts/iptables

[Service]
Type=oneshot
ExecStart=/etc/systemd/scripts/iptables
ExecStop=/etc/systemd/scripts/iptables.stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
